.content {
    font-family: 'Bebas Neue', cursive;
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: 150px auto 150px;
    padding: 0 16px;
    /* max-width: 1200px; */
    /* flex-direction: column; */
    /* align-items: center; */
  }

.products{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 300px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card{
    display: grid;
    place-items:inherit;
    background: rgb(250, 248, 248);
    width: 370px;
    height: 590px;
}

.price{
    font-size: large;
}

.title{
    font-size: large;
}

